* {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
h2 {
    margin-top: -1px;
    margin-right: -1px;
}
.sec {
    margin-bottom: 15px;
  }
.title {
    padding: 0 5% 0 5%;
    float: right;
    border: 1px solid black;
}
.first {
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(black, gray)
}
.first p{
    margin: 10% 10px 9% 10px;
}
.row {
    width: 100%;
}
#red {
    background-color:rgb(100, 0, 0);
    border-radius: 10px;
}
#blu {
    background-color:rgb(21, 0, 138);
    border-radius: 10px;
}
#grn {
    background-color:rgb(0, 71, 0);
    border-radius: 10px;
}
#um {
    padding: 10px;
}
.titulo {
    font-weight: bold;
}
/*desktop*/
@media (min-width: 992px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
/*tablet*/
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}
/*mobile*/
@media (max-width: 767px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
body {
    font-size: 16px;
    color: #fff;
    background-color: gray;
    font-family: 'Oxygen', sans-serif;
  }
  #header-nav {
    background-color: rgb(42, 42, 42);
    border: 0;
  }
 
  .navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5rem;
    /* 1.5 * 16px */
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-top: 25px;
  }
  .navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 15px;
  }
  .navbar-brand p span {
    vertical-align: middle;
  }
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  #nav-list a:hover {
    background-color: #e7e7e7;
  }
  #nav-list a i,
  #nav-list a span {
    font-size: 1.8rem;
    margin-right: 5px;
  }
  #phone {
    margin-top: 5px;
  }
  #phone a {
    text-align: right;
    padding-bottom: 0;
  }
  #phone div {
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
  }
  #header-nav button.navbar-toggler {
    border: 1px solid white;
    clear: both;
    margin-top: -30px;
  }
  /* extra large */
  @media (min-width: 1200px) {
    .container .jumbotron {
      background: url('../images/jumbotron_1200.jpg') no-repeat;
      height: 675px;
      max-width: 1140px;
    }
  }
  
  .container {
    max-width: 1140px;
  }
  
  /* large */
  @media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
      /* cabeçalho */
      background: url('../images/restaurant-logo_large.png') no-repeat;
      width: 100px;
      height: 100px;
      background-size: 100px;
      margin: 5px 5px 5px 0;
    }
    .container .jumbotron {
      background: url('../images/jumbotron_992.jpg') no-repeat;
      height: 558px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .container .jumbotron {
      background: url('../images/jumbotron_768.jpg') no-repeat;
      height: 432px;
    }
  }
  /********** small  **********/
  @media (max-width: 991px) {
    /* Header */
    .navbar-brand {
      padding-top: 10px;
      height: 90px;
    }
    .navbar-brand h1 {
      padding-top: 10px;
      font-size: 5vw;
      /* 1vw = 1% of viewport width */
    }
    .navbar-brand p {
      /* Kosher cert */
      font-size: .6em;
      margin-top: 12px;
    }
    .navbar-brand p img {
      /* Star-K */
      height: 20px;
    }
    #collapsable-nav a {
      /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a i {
      /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
    #call-btn {
      margin-top: 20px;
    }
    #call-btn a {
      font-size: 1.5em;
      display: block;
      margin: 0 20px;
      padding: 10px;
      border: 2px solid #fff;
      background-color: #f6b319;
      color: #951c49;
    }
    #md-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }
  @media (max-width: 767px) {
    .container .jumbotron {
      padding: 0;
      margin-top: 30px;
    }
    #menu-item,
    #especialidades-item
    {
      background-size: 100%;
    }
  }